<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
    <div>
        <div>
            <button type="button" onclick="location.href='/coordinate'">Input the coordinates and get some information</button>
        </div>
        <div>
            <button type="button" onclick="location.href='/country'">Input the country and get all requests about this country</button>
        </div>
        <div>
            <button type="button" onclick="location.href='/list'">List of all Geo Locations</button>
        </div>
    </div>
</body>
</html>